//var//
$font-family:'Cormorant Garamond',
serif;
$font__color-title:rgb(217, 10, 224);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: auto;
}

.box {
  max-width: 250px;
  height: 100%;
  margin: 0 auto;
  transform: translate(22%, 5%);
  font-family: $font-family;
  font-weight: bold;

  img {
    max-width: 250px;
    margin-bottom: 20px;
  }
}

.author {
  font-size: 30px;
}

.title {
  color: $font__color-title;
  font-weight: bold;
  font-size: 25px;
  padding-top: 20px;
  text-shadow: 2px 2px 5px lightslategrey;
}

.poem {
  padding-top: 20px;
  line-height: 40px;
  font-size: 20px;
}

@media (max-width: 500px) {
  .box {
    transform: translate(0%, 5%);
  }
}